
*{
 box-sizing:border-box;
 margin: 0; 
}
           /*Header section*/
.header {
	height: 500px;
}
.navbar-header p {
	margin-left: -45px;
	margin-top:-40px;
	font-weight: bold;

}
.header-p button {
	border-radius: 4px;
	font-weight: bold;
}
.header-p p {
	font-weight: bold;
	font-size: 36px;
}
.menu {
	margin-top:20px;
	margin-left: 100%;
	 
}
.hide{
	margin-top:20px;
	margin-left: 95%;
	display:none; 
}
nav {
	position: fixed;
	top:0;
	right:0;
	height: 100vh;
	background: ;
	color: white;
}
nav ul {
	margin-left: 95%;
	margin-bottom: 100%;
	display: none;
	text-align: center;
	right:0;
	margin-right: 20px; 
	display:;
}
nav ul li {
	padding:1rem;
	text-decoration:none; 

}
.header-p {
	margin-top: -250px;
}
.header-p p {
	text-align: center;
}
.header-p button {
	margin-left: 40%;
}
	
			/* ABOUT US SECTION*/
#about-us {
	margin: 30px 10px;
}			

.food {
	height:80px;
	width:80px;
}			
          /* Pizza available section */

#image1,#image2,#image3 {
	width:80px;
	height:80px;
	float:right;
	border-radius: 50%;
}
#image4,#image5,#image6 {
	width:80px;
	height:80px;
	float:right;
	border-radius: 50%;

}
        /* Recipe video section */
#video-header {
	text-align: center;
	margin-left: 40%;
	font-weight: bold;
}
#video {
	margin: 40px 100px;
	width:750px;
	height:320px;

}
#recipe-section {
	margin-top: 10px;
	padding: 10px;
}
#recipe-section h4 {
	text-align: center;
	padding: 20px 10px;
	margin-left: 100px;
}
#recipe-section input {
	margin-top: 70px;

}
#comment-text {
	margin-left: -230px;
	width:300px;
	border:none;
	border-bottom: 2px solid black;
	padding:10px;


}
#comment {
	margin-top:70px;
	padding:0px 10px;
	height:45px;
	background: #273c75;
	color:#fff;
	border-radius:4px ;   
}
#cancel {
	padding:0px 10px;
	margin-top:70px;
	height:45px;
	font-weight: bold;
	background: transparent;
	color:#333;
	border:none;
}
            /*CONTACT US SECTION*/

#contact-header {
	margin-left:300px;
	padding: 20px 20px;
}
#contact-us {

}
#contact-us h2 {
	margin-top:40px;
	
}
#message-us{
	
	

}
#name {
	width:300px;
	border:none;
	border-bottom: 2px solid #000;
	padding: 5px;
	margin:8px; 
}
#email {
	width:300px;
	border:none;
	border-bottom:2px solid #000; 
	padding: 5px;
	margin:8px ;
}
#textarea {
	width:250px;
	padding: 5px;
	margin: 5px;
}
       /*SOCIAL MEDIA ICONS*/


