
*{
 box-sizing:border-box;
 margin: 0; 
}
html{
     scroll-behavior: smooth;
 }
.row {
	margin:10px 30px;
}
#navbar-main {
	background: url(../images/background.jpg);
}
            /*Navbar section*/

#nav {
	margin-bottom: 0px;
}
.pizzaforlife {
	font-weight: 900;
	font-family: cursive;
	color:orange;
} 
#main-text h1 p {
	color:white;
}

.nav-item active {
	color: orange;
	font-weight: bold;
}
.nav-link {
	font-weight: white;
	color:white;
	font-weight:800 ;
	font-size: 18px;
}
.nav-link:hover {
	color:orange;
}
#home-link {
	color:orange;
	font-weight: 800;
	font-size: 20px;
}




           /*Main section*/




#main {
	margin-top: -10px;
	height: 300px;
}

			/* ABOUT US SECTION*/
#about-us {
	margin: 30px 10px;
	align-items: center;
}			

.food {
	height:80px;
	width:80px;
}			
          /* Pizza available section */

#image1,#image2,#image3 {
	width:80px;
	height:80px;
	float:right;
	border-radius: 50%;
	

}
#image4,#image5,#image6 {
	width:80px;
	height:80px;
	float:right;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);

}


        /* Recipe video section */
#video-header {
	text-align: center;
	margin-left: 40%;
	font-weight: bold;
}
#video {
	margin: 40px 100px;
	width:750px;
	height:320px;
	box-shadow: 8px 8px 12px rgba(0,0,0,0.4);


}
#recipe-section {
	margin-top: 10px;
	padding: 10px;
}
#recipe-section h4 {
	text-align: center;
	padding: 20px 10px;
	margin-left: 100px;
}
#recipe-section input {
	margin-top: 70px;

}
#comment-text {
	margin-left: -230px;
	width:300px;
	border:none;
	border-bottom: 2px solid black;
	padding:10px;


}
#comment {
	margin-top:70px;
	padding:0px 10px;
	height:45px;
	background: #273c75;
	color:#fff;
	border-radius:4px ;   
}
#cancel {
	padding:0px 10px;
	margin-top:70px;
	height:45px;
	font-weight: bold;
	background: transparent;
	color:#333;
	border:none;
}
            /*CONTACT US SECTION*/

#contact-header {
	margin-left:300px;
	padding: 20px 20px;
}
#contact-us {
	padding:10px 10px;
 	
}
#contact-us h2 {
	margin-top:40px;
	
}
#message-us{
	padding:10px 10px;
	

}
#name {
	width:300px;
	border:none;
	border-bottom: 2px solid #000;
	padding: 5px;
	margin:8px; 
}
#email {
	width:300px;
	border:none;
	border-bottom:2px solid #000; 
	padding: 5px;
	margin:8px ;
}
#textarea {
	width:250px;
	padding: 5px;
	margin: 5px;
}

       /*SOCIAL MEDIA ICONS SECTION*/

#social-media {
	margin-left:250px;
}
#social-media img { 
 	height:60px;
 	width: 90px;
 	padding:2px 20px;
}
#social-media img:hover {
	transform: translate(0,-15px);
	transition: 0.6s;
	
}
      /*media queries for responsiveness*/

       /*order page styling section*/
#order-section {
	background: url(../images/order-backimg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
} 
.row h2 {
	text-align: center;
	line-height: 1.8rem;
	font-weight: bold;
	color: orange;
	font-family:cursive;
}      
#select-crust select {
	width:250px;
	height:40px;
	margin:15px 10px;
	border-radius: 4px;
	margin-top:60px ;
	margin-left:-410px ; 
}
#select-crust label {
	font-weight: bold;
	font-family: cursive;
	margin:15px;
	font-size: 30px;
}
#select-size select {
	width:250px;
	height:40px;
	margin: 10px 10px;
	border:2px #000;
	border-radius: 4px;
	margin-top:80px ;
	margin-left:-400px;
}
#select-size label {
	font-weight: bold;
	font-family: cursive;
	margin:10px;
	font-size: 30px;

}

#select-toppings select {
	width: 250px;
	height: 40px;
	margin:10px 10px;
	border-radius: 4px;
	margin-top:90px ;
	margin-left:-460px;

}
#select-toppings label {
	font-weight: bold;
	font-family: cursive;
	margin:10px;
	font-size: 30px;
}
#select-number input {
width: 250px;
height:40px;
margin:10px 10px;
border-radius:4px;
margin-top: 100px;
margin-left:-400px;
}
#select-number label {
	font-weight: bold;
	font-family: cursive;
	margin:10px;
	font-size: 30px;
}
#select-delivery p{
	font-weight: bold;
	font-family: cursive;
	margin:10px;
	font-size: 30px;
}
#select-delivery input,label {
	margin-top: 20px;
	float: left;
}
#select-delivery label {
	padding:5px;
}

#button-order {
	margin-left: 100px;
}